beautifulsoup4==4.13.4
fastapi==0.116.1
fitz==0.0.1.dev2
httpx==0.28.1
ImageHash==4.3.2
langchain==0.3.27
langchain_community==0.3.27
langchain_core==0.3.72
langchain_openai==0.3.28
nltk==3.9.1
numpy>=1.24,<2.0
openai==1.98.0
pandas>=1.5,<2.1
Pillow>=9.0,<10.0
protobuf>=3.20.3,<6.0.0
psycopg2_binary==2.9.10
pydantic>=2.0,<2.4
PyPDF2==3.0.1
python-dotenv==1.1.1
PyYAML==6.0.2
PyYAML==6.0.2
qdrant_client==1.15.0
Requests==2.32.4
scikit_learn==1.7.1
selenium==4.34.2
sentence_transformers==5.0.0
streamlit==1.46.1
tenacity==9.1.2
tiktoken==0.9.0
tldextract==5.3.0
urllib3==2.5.0
webdriver_manager==4.0.2
